<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>EditarFooter</servlet-name>
        <servlet-class>Servlets.EditarFooter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CabeceraAgregar</servlet-name>
        <servlet-class>Servlets.CabeceraAgregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CabeceraEditar</servlet-name>
        <servlet-class>Servlets.CabeceraEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubirImagen</servlet-name>
        <servlet-class>Servlets.SubirImagen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderEditar</servlet-name>
        <servlet-class>Servlets.SliderEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoticiasEditar</servlet-name>
        <servlet-class>Servlets.NoticiasEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoticiasAgregar</servlet-name>
        <servlet-class>Servlets.NoticiasAgregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderAgregar</servlet-name>
        <servlet-class>Servlets.SliderAgregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicidadAgregar</servlet-name>
        <servlet-class>Servlets.PublicidadAgregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicidadEditar</servlet-name>
        <servlet-class>Servlets.PublicidadEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClasificadosRegistrar</servlet-name>
        <servlet-class>Servlets.ClasificadosRegistrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClasificadosEditar</servlet-name>
        <servlet-class>Servlets.ClasificadosEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClasificadosRegistrarLinks</servlet-name>
        <servlet-class>Servlets.ClasificadosRegistrarLinks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaginasAgregar</servlet-name>
        <servlet-class>Servlets.PaginasAgregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarPinesGrupo</servlet-name>
        <servlet-class>Servlets.GenerarPinesGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarPinEstudiante</servlet-name>
        <servlet-class>Servlets.GenerarPinEstudiante</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditarFooter</servlet-name>
        <url-pattern>/EditarFooter.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IniciarSession</servlet-name>
        <servlet-class>Servlets.IniciarSession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarSession</servlet-name>
        <url-pattern>/IniciarSession.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistrarPines</servlet-name>
        <servlet-class>Servlets.RegistrarPines</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarPines</servlet-name>
        <url-pattern>/RegistrarPines</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ValidarPin</servlet-name>
        <servlet-class>Servlets.ValidarPin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidarPin</servlet-name>
        <url-pattern>/ValidarPin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CabeceraAgregar</servlet-name>
        <url-pattern>/CabeceraAgregar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CabeceraEditar</servlet-name>
        <url-pattern>/CabeceraEditar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubirImagen</servlet-name>
        <url-pattern>/SubirImagen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderEditar</servlet-name>
        <url-pattern>/SliderEditar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoticiasEditar</servlet-name>
        <url-pattern>/NoticiasEditar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoticiasAgregar</servlet-name>
        <url-pattern>/NoticiasAgregar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderAgregar</servlet-name>
        <url-pattern>/SliderAgregar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicidadAgregar</servlet-name>
        <url-pattern>/PublicidadAgregar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicidadEditar</servlet-name>
        <url-pattern>/PublicidadEditar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClasificadosRegistrar</servlet-name>
        <url-pattern>/ClasificadosRegistrar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClasificadosEditar</servlet-name>
        <url-pattern>/ClasificadosEditar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClasificadosRegistrarLinks</servlet-name>
        <url-pattern>/ClasificadosRegistrarLinks.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginasAgregar</servlet-name>
        <url-pattern>/PaginasAgregar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarPinesGrupo</servlet-name>
        <url-pattern>/GenerarPinesGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarPinEstudiante</servlet-name>
        <url-pattern>/GenerarPinEstudiante</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
